/_build/
/cover/
/deps/
/doc/
/.expert
/.fetch
/.env.dev
/.env.test
erl_crash.dump
*.ez
/tmp/
crysa-*.tar
/priv/static/assets/
/priv/static/cache_manifest.json
/priv/static/uploads/
npm-debug.log
/assets/node_modules/
